.skills-box {
  background: #6D5775;
  color: #A1A4B0;
  width: 50%;
  min-width: 280px;
  .skills {
    padding: 5% 10%;
    h1 {

    }
    ul {
      list-style: inside;
      li {

      }
    }
  }
}