.skills-box {
  background: rgb(145, 132, 103);
  // background: #6D5775;
  color: rgb(255, 255, 255);
  width: 50%;
  min-width: 280px;
  padding: 2% 5%;

  .skills-header-box {
    h1 {

    }
  }
  .skills-btns {
    margin: 10px 0px;
    .skills-btn {
      font-size: .8em;
      margin-right: 8px;
      padding: 10px 20px;
      background: #55756B;
      color: rgb(255, 255, 255);
      border: none;
      outline: none;
    }
  }
  .skills-content-container {
    .skills-content {
      .skills {
        h1 {
    
        }
        ul {
          list-style: inside;
          li {
    
          }
        }

      }
      
    }
  }
}