.about-box {
  background: #5B6278;
  color: #FFFCE7;
  padding: 0;
  margin: 0;
  width: 100%;
  // min-width: 615px;
  // display: flex;
  // justify-content: center;
  .about {
    margin: 0px 100px;
    padding: 50px 0px;
    h1 {
      padding: 0;
      margin: 0;
      line-height: .8;
    }
    p {
      line-height: 1.6;
      padding: 0;
      margin: 0;
    }
  }
}