*,
.app,
html,
body {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  background: rgb(145, 132, 103);


}
body {
  overflow-x: hidden;
}

.about-skills {
  display: flex;
}
@media (max-width:900px){
  .about-skills {
    flex-direction: column;
  }
}