*,
.app,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: #B1AA81;

}

.about-skills {
  display: flex;
  // flex-wrap: wrap;
}
@media (max-width:900px){
  .about-skills {
    flex-direction: column;
  }
}